DB_USER=geofold
DB_PASSWORD=changeme
DB_NAME=geofold
DB_HOST=db
FRONTEND_URL=https://geofold.sayba.id
BACKEND_URL=https://api.geofold.sayba.id
IPAYMU_VA=1179007403445749
IPAYMU_API_KEY=changeme
IPAYMU_ENV=production
SUPABASE_URL=https://vdyuoqtoimtpienoqznc.supabase.co
SUPABASE_ANON_KEY=changeme
SUPABASE_JWT_SECRET=changeme
STORAGE_PATH=/app/storage/pictures
PORT=3000
